.wrapper{
    
    background: purple;
    // display: flex;
    // justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    .toogleHeaderWrapper{
        background: purple;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 50px;
        // top: 10px;
        // left: 15%;
        .toogleHeader{
            display: flex;
            justify-content: center;
            align-items: center;
            // background: grey;
            width: 700px;
            height: 100%;
        }
    }
    .header{
        display: flex;
        justify-content: space-between;
        .logo{
            margin-left: 30px;
            // background: hotpink;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            font-weight: 700;
            text-shadow: 0px 3px 0px rgba(150, 150, 150, 1);
            cursor: default;
            color: white;
        }
        .settings{
            margin-right: 30px;
            // background: blue;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 40px;
                height: 40px;
                cursor: pointer;
            }
        }
    }
}